.footer-container {
  background-color: var(--home-button-color);
  text-align: center;
  display: flex;
  height: 10vh;
  width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

.current-cell-text {
  color: var(--primary-background-color);
  font-size: 2em;
  padding-left: 1em;
  font-weight: bolder;
}
