.cell-container {
  width: 10em;
  height: 2em;
}
.cell-container-focused {
  width: 10em;
  height: 2em;
  border: 2px var(--focused-cell-border) dashed;
}

.cell-container-error {
  width: 10em;
  text-align: center;
  color: var(--font-error);
  background-color: var(--error-background-color);
  height: 2em;
}

textarea:focus,
input:focus {
  outline: none;
}

.header-cell-container {
  width: 10em;
  text-align: center;
  pointer-events: none;
  background-color: var(--header-cell-background);
}

.header-left-cell-container {
  width: 3em;
  text-align: center;
  pointer-events: none;
  background-color: var(--header-cell-background);
}
