.cell-container {
  width: 20em;
}
.cell-container-focused {
  width: 20em;
  border: 2px blue dashed;
}

textarea:focus,
input:focus {
  outline: none;
}

.header-cell-container {
  width: 20em;
  pointer-events: none;
  background-color: rgb(212, 207, 207);
}
